body{
    background-color: aquamarine;
    font:normal 15pt arial;
}
header{
    text-align: center;
    color: rgb(0, 0, 0);
}
section{
    background-color: aliceblue;
    border-radius: 100px;
    padding: 15px;
    width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);

}
footer{
    background-color: aliceblue;
    text-align: center;
    font-style: italic;
}
#img {
    border-radius: 50%; /* Torna a imagem perfeitamente circular */
    width: 250px;
    height: 250px;
    object-fit: cover; /* Garante que a foto não fique esticada */
}